{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assetbundles\\sproutcp\\SproutCpAsset") %}
{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assetbundles\\metadata\\MetadataAsset") %}

{% macro configWarning(setting) -%}
    {{ "This is being overridden by the {setting} config setting."|t('sprout-forms-google-recaptcha', {
        setting: setting
    })|raw }}
{%- endmacro %}

{% from _self import configWarning %}

{% set isProBadge = not sproutConfig.getIsPro() ? ' <span class="sprout-pro">PRO</span>' : '' %}

{{ forms.textField({
    label: "Meta Description Length"|t('sprout'),
    instructions: "The maximum number of characters to allow for Meta Description fields."|t('sprout'),
    name: 'maxMetaDescriptionLength',
    placeholder: '160',
    size:'10',
    value: settings.maxMetaDescriptionLength,
    errors: '',
    warning: config.maxMetaDescriptionLength is defined ? configWarning('maxMetaDescriptionLength')
}) }}

{{ forms.lightswitchField({
    label: "Automatically render metadata"|t('sprout') ~ isProBadge,
    instructions: "Sprout SEO prepares and outputs all of your metadata in your template. If you'd like to manage this output manually, you can disable this setting and enable the 'Enable custom metadata variable' setting below."|t('sprout'),
    name: 'enableRenderMetadata',
    on: not sproutConfig.getIsPro() ? true : (settings.enableRenderMetadata is empty ? false : true),
    onLabel: "Enable"|t('spr`out'),
    disabled: not sproutConfig.getIsPro(),
    warning: config.enableRenderMetadata is defined ? configWarning('enableRenderMetadata')
}) }}

{{ forms.lightswitchField({
    label: "Enable custom metadata variable"|t('sprout') ~ isProBadge,
    instructions: "Make a global `metadata` variable available to all of your templates. The `metadata` variable will contain page-specific Prioritized Metadata and Structured Data, and all of your Globals. Ensure the {% sproutseo 'optimize' %} tag is in your template to generate the `metadata` variable. If you plan to handle the `metadata` variable on your own, you may also want to disable the 'Automatically render metadata' setting above, to ensure you don't output your metadata twice."|t('sprout'),
    name: 'useMetadataVariable',
    toggle: 'settings-enablemetadatavariable',
    on: not sproutConfig.getIsPro() ? false : settings.useMetadataVariable,
    onLabel: "Enable"|t('sprout'),
    disabled: not sproutConfig.getIsPro(),
    warning: config.useMetadataVariable is defined ? configWarning('useMetadataVariable')
}) }}

<div id="settings-enablemetadatavariable"
    class="{% if not settings.useMetadataVariable %} hidden {% endif %}">

    {{ forms.textField({
        label: "Custom metadata variable name"|t('sprout'),
        instructions: "Give your global `metadata` variable a name. You will use this variable name to access your metadata in your templates."|t('sprout'),
        name: 'metadataVariableName',
        placeholder: 'metadata',
        value: settings.metadataVariableName,
        errors: '',
        warning: config.metadataVariableName is defined ? configWarning('metadataVariableName')
    }) }}

</div>

{{ forms.lightswitchField({
    label: "Display Field Handles"|t('sprout'),
    instructions: "Enable this setting to display field handle next to the field name in your Element Metadata field settings."|t('sprout'),
    name: 'displayFieldHandles',
    on: settings.displayFieldHandles ? true : false,
    onLabel: "Enable"|t,
    warning: config.displayFieldHandles is defined ? configWarning('displayFieldHandles')
}) }}
