{% extends "sprout-base-config/_layouts/base-settings" %}

{% block actionButton %}

    {% set actionButtonTemplate = currentSubsection.actionButtonTemplate ?? null %}

    {% if actionButtonTemplate %}
        {% include actionButtonTemplate %}
    {% else %}
        <div class="buttons">
            <input class="btn submit" type="submit"
                value="{{ 'Save'|t('sprout') }}">

            {#        {% if upgradeLink %}#}
            {#            {{ sproutCp.upgradeToProButton({#}
            {#                url: upgradeLink#}
            {#            }) }}#}
            {#        {% endif %}#}
        </div>
    {% endif %}

{% endblock %}

{% block content %}

    <input type="hidden" name="action" value="{{ actionUrl }}">
    <input type="hidden" name="redirect" value="{{ redirectUrl|hash }}">
    <input type="hidden" name="settingsSection" value="{{ settingsSectionHandle }}">

    <div id="settings-cp">

        {% namespace 'settings' %}
            {% include currentSubsection.template %}
        {% endnamespace %}

    </div>

{% endblock %}