{% import "_includes/forms" as forms %}

<div class="body">

    <h1>{{ 'Campaign Snapshot'|t('sprout') }}</h1>

    <table class="data fullwidth">
        <tbody>
        <tr style="background-color:#eee;font-size:14px;">
            <th colspan="2">{{ 'Overview'|t('sprout') }}</th>
        </tr>
        <tr>
            <td><strong>{{ "Subject"|t('sprout') }}</strong></td>
            <td>{{ email.title }}</td>
        </tr>
        <tr>
            <td><strong>{{ "From Name"|t('sprout') }}</strong></td>
            <td>{{ email.fromName }}</td>
        </tr>
        <tr>
            <td><strong>{{ "From Email"|t('sprout') }}</strong></td>
            <td>{{ email.fromEmail }}</td>
        </tr>
        <tr>
            <td><strong>{{ "Reply To"|t('sprout') }}</strong></td>
            <td>{{ email.replyToEmail }}</td>
        </tr>
        </tbody>
    </table>
    <br>

    {% set emailUrl = cpUrl('sprout/email/preview/' ~ email.id) %}

    <table class="data fullwidth">
        <tbody>

        <tr style="background-color:#eee;font-size:14px;">
            <th colspan="2">{{ 'Content'|t('sprout') }}</th>
        </tr>

        {% if not email.getErrors('emailTemplateId') %}
            <tr>
                <td>
                    <strong>{{ "HTML"|t('sprout') }}</strong>
                </td>
                <td>
                    <a href="{{ cpUrl('sprout/campaigns/edit/' ~ email.id) }}">{{ "Edit"|t('sprout') }}</a>
                    or
                    <a href="{{ emailUrl }}" title="{{ email.title }}"
                        data-preview-url="{{ emailUrl }}"
                        class="email-preview">{{ "Preview"|t('sprout') }}</a>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>{{ "Text"|t('sprout') }}</strong>
                </td>
                <td>
                    <a href="{{ emailUrl ~ '?type=text' }}"
                        title="{{ email.title }}"
                        data-preview-url="{{ emailUrl ~ '?type=text' }}"
                        class="email-preview">{{ "Preview"|t('sprout') }}</a>
                </td>
            </tr>

        {% else %}

            <td colspan="2">
                {{ email.getError('emailTemplateId') }}
            </td>

        {% endif %}
        </tbody>
    </table>
    <br>

    <table class="data fullwidth">
        <tbody>
        <tr style="background-color:#eee;font-size:14px;">
            <th colspan="2">{{ 'Recipients'|t('sprout') }}</th>
        </tr>
        <tr class="snapshot-recipients">
            {% if lists|length %}
                {% for list in lists %}
                    <td colspan="2">
                        {{ list.name }} <span
                            class="light"><i>(</i>{{ list.members_count }}
                            <i>)</i></span>
                    </td>
                {% endfor %}
            {% else %}
                <td colspan="2">
                    {{ "No recipients defined."|t('sprout') }} <a
                        href="{{ cpUrl('sprout/campaigns/edit/' ~ email.id) }}">{{ "Add Recipients"|t('sprout') }}</a>
                </td>
            {% endif %}
        </tr>
        </tbody>
    </table>

</div>

<div class="footer">

    <div class="buttons right">
        <button {% if not email.isReadyToTest() %}disabled{% endif %}
            data-action="sprout/campaign-email/prepare-test-campaign-email-modal"
            data-email-id="{{ email.id }}"
            class="btn actions {% if not email.isReadyToTest() %}disabled{% endif %}">
            {{ "Send Test"|t('sprout') }}
        </button>
        <button {% if not email.isReadyToSend() %}disabled{% endif %}
            data-action="sprout/campaign-email/prepare-schedule-campaign-email"
            data-email-id="{{ email.id }}"
            class="btn submit actions {% if not email.isReadyToSend() %}disabled{% endif %}">
            {{ "Schedule Campaign"|t('sprout') }}
        </button>
    </div>
    <div class="buttons left">
        <button id="cancel" class="btn">{{ "Cancel"|t('sprout') }}
        </button>
    </div>

</div>