{% extends "sprout-base-email/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set title = "Edit Notification"|t('sprout-base') %}

{% set currentPluginHandle = craft.app.request.getSegment(1) %}
{% set crumbs = [
    { label: "Notifications", url: url(currentPluginHandle ~ '/notifications') },
] %}

{% set fullPageForm = true %}
{% set saveShortcutRedirect = url(currentPluginHandle ~ '/settings/notifications/edit/{id}') %}

{% if notificationEmail['id'] %}
    {% set notificationEmailId = notificationEmail['id'] %}
{% else %}
    {% set notificationEmailId = '{id}' %}
{% endif %}

{% block actionButton %}

    <div class="buttons">
        <div class="btngroup">
            <input class="btn submit" type="submit"
                   value="{{ 'Save'|t('sprout-base') }}">

            {% if notificationEmail['id'] is defined %}

                {% set dataSaveEditRedirect = cpUrl(currentPluginHandle ~ '/notifications/edit/' ~ notificationEmailId) %}

                <div class="btn submit menubtn"></div>
                <div class="menu">
                    <ul>
                        <li><a class="formsubmit"
                               data-redirect="{{ craft.app.request.url|hash }}"
                               title="{{ 'Save and continue editing'|t('sprout-base') }}">{{ 'Save and continue editing'|t('sprout-base') }}
                                <span
                                        class="shortcut">⌘S</span></a>
                        </li>
                    </ul>
                </div>

            {% endif %}
        </div>
    </div>

{% endblock %}

{% set content %}

    <input type="hidden" name="action"
           value="sprout/notifications/save-notification-email-settings">
    {{ redirectInput(currentPluginHandle ~ '/notifications/edit/' ~ notificationEmailId) }}

    <input type="hidden" name="emailId" value="{{ emailId }}">
    <input type="hidden" name="mailer" value="defaultmailer">

    {% include "_includes/fieldlayoutdesigner" with {
        fieldLayout: notificationEmail.getFieldLayout()
    } only %}

{% endset %}