{% from "_includes/forms" import textField %}
{% from "_includes/forms" import textareaField %}
{% import 'sprout-base/_includes/sproutcp' as sprout %}

{{ textField({
    label: "Subject Line"|t('sprout-base'),
    id: 'subjectLine',
    name: 'subjectLine',
    value: notificationEmail.subjectLine,
    errors:  notificationEmail is defined ? notificationEmail.getErrors('subjectLine') : null,
    first: true,
    autofocus: true,
    required: true,
    maxlength: 255
}) }}

{% set tabs = notificationEmail.getFieldLayout().getTabs() %}

{% if tabs|length %}

    {% for tab in notificationEmail.getFieldLayout().getTabs() %}
        <div id="tab{{ loop.index }}"{% if not loop.first %} class="hidden"{% endif %}>
            {% include "_includes/fields" with {
                fields:  tab.getFields(),
                element: notificationEmail,
                static:  static is defined ? static : false
            } only %}
        </div>
    {% endfor %}

{% else %}

    {{ textareaField({
        label: "Body"|t('sprout-base'),
        instructions: "Add a message to your recipients for when your selected event is triggered. Leave this field blank if no message is desired."|t('sprout-base'),
        id: 'defaultBody',
        name: 'defaultBody',
        value: notificationEmail.defaultBody,
        errors:  notificationEmail is defined ? notificationEmail.getErrors('defaultBody') : null,
        autofocus: true,
        rows: 15
    }) }}

    <br>

    {% set boxBody %}
        <h3>{{ "Personalization"|t('sprout-base') }}</h3>
        <p>{{ "Make your emails personal and use dynamic data from your Notification Events. Custom Notification Email fields support Twig syntax (<code>{{ object.fieldHandle }}</code>) and shorthand syntax (<code>{fieldHandle}</code>). Read more about <a href='https://sprout.barrelstrengthdesign.com/docs/email/personalization.html' target='_blank'>Personalization</a>."|t('sprout-base')|raw }}</p>
        <h3>{{ "Events"|t('sprout-base') }}</h3>
        <p>{{ "Every Notification Email is triggered by an event. Choose from one of the default events or create a custom event for your specific needs. Read more about <a href='https://sprout.barrelstrengthdesign.com/docs/email/notification-emails.html#notification-events' target='_blank'>Notification Events</a>."|t('sprout-base')|raw }}</p>
        <h3>{{ "Email Templates"|t('sprout-base') }}</h3>
        <p>{{ "Choose the Basic Notification email template to start sending notification emails immediately. You have 100% control over your email template fields and design. Select the gear icon in the top right to customize your field layout. Read more about <a href='https://sprout.barrelstrengthdesign.com/docs/email/template-overrides.html' target='_blank'>Template Overrides</a>."|t('sprout-base')|raw }}</p>
    {% endset %}

    {{ sprout.mediaBox({
        heading: "Send exceptional email communications"|t('sprout-base'),
        body: boxBody
    }) }}

{% endif %}