{% requirePermission 'sprout:reports:editDataSources' %}

{% extends "sprout/_layouts/base" %}
{% import "_includes/forms" as forms %}
{% import "sprout/_includes/sproutcp" as sproutCp %}

{% set selectedSubnavItem = 'data-sources' %}

{% set title = "Data Sources"|t('sprout') %}

{% block actionButton %}

    {% if config.getEnableUpgradeMessages() and config.isUpgradable() %}
        <div class="buttons">
            {{ sproutCp.upgradeToProButton({
                url: config.getUpgradeUrl(),
                title: config.getUpgradeMessage()
            }) }}
        </div>
    {% endif %}

{% endblock %}

{% block content %}
    <div class="tableview">
        <table class="data fullwidth">
            <thead>
            <tr>
                <th scope="col" data-attribute="datasource">{{ "Data Source"|t('sprout') }}</th>
                <th scope="col" data-attribute="description">{{ "Description"|t('sprout') }}</th>
                <th scope="col" data-attribute="totalReports">{{ "Reports"|t('sprout') }}</th>
                <th scope="col" data-attribute="allowNew">{{ "Allow New?"|t('sprout') }}
                    <span class="info">{{ "Allow users to create a new Report from this Data Source from the New Report dropdown. If disabled, any existing Reports using this Data Source will still be visible to all users in the list of Reports. Users with the 'Edit Data Sources' permission can always create a new Report from this page. "|t('sprout') }}</span>
                </th>

                {% if currentUser.can('sproutReports-editReports') %}
                    <th class="thin"></th>
                {% endif %}
            </tr>
            </thead>
            <tbody>

            {% for id, dataSource in dataSources %}
                <tr>
                    <td><strong>{{ dataSource.displayName() }}</strong></td>
                    <td style="word-wrap: break-word;">{{ dataSource.getDescription()|markdown }}</td>

                    <td>{{ dataSource.getReportCount() }}</td>
                    <td data-type="{{ className(dataSource) }}">
                        {{ forms.lightswitchField({
                            id: dataSource.id,
                            on: dataSource.allowNew,
                            name: 'allowNew',
                            small: true
                        }) }}
                    </td>

                    {% if currentUser.can('sproutReports-editReports') %}
                        <td>
                            {% if className(dataSource) == 'barrelstrength\\sproutbase\\app\\reports\\datasources\\MissingDataSource' %}
                                <form method="post" accept-charset="UTF-8">
                                    {{ csrfInput() }}
                                    {{ redirectInput('sprout/reports/data-sources') }}
                                    <input type="hidden" name="action" value="sprout/data-sources/delete-data-source">
                                    <input type="hidden" name="dataSourceId" value="{{ dataSource.id }}">
                                    <input class="btn small" type="submit" value="{{ "Remove"|t('sprout') }}">
                                </form>
                            {% else %}
                                {# We only display the Data Sources page to Sprout Reports,
                                   so we know the URL and don't have to use getUrl dynamically
                                   across Data Source Types #}
                                <a href="{{ cpUrl('sprout/reports/' ~ dataSource.id ~ '/new') }}"
                                    class="btn small">{{ "New Report"|t('sprout') }}</a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="grid">
        <div class="item">
            {{ parent() }}
        </div>
    </div>

{% endblock %}

{% js on ready %}

    $('.lightswitch').change(function() {

    var allowNew = $(this).find("[name='allowNew']").val();
    var dataSourceType = $(this).closest('td').data('type');

    Craft.postActionRequest('sprout/data-sources/save-data-source', {
    dataSourceType: dataSourceType,
    allowNew: allowNew
    }, function(response) {
    if (response)
    {
    Craft.cp.displayNotice(Craft.t('sprout', 'Data Source saved.'));
    }
    });
    })

{% endjs %}
