{% requirePermission "sprout:forms:editForms" %}

{% extends "sprout/_layouts/base" %}
{% import "sprout/_includes/sproutcp" as sproutCp %}

{% set crumbs = [
    { label: "Forms"|t('sprout'), url: cpUrl('sprout/forms') }
] %}

{% set mainFormAttributes = {'sproutforms-fieldlayouteditor': true} %}

{% set fieldLayout = form.getFieldLayout() %}
{% set formFields = {} %}

{% set title = form.name %}
{% set saveShortcutRedirect = continueEditingUrl %}
{% set fullPageForm = true %}
{% set selectedTab = fieldLayout.getTabs()[0].id %}

{% block contextMenu %}
    <div id="revision-spinner" class="spinner hidden" title="{{ 'Saving'|t('app') }}"></div>
    <div id="revision-status" class="checkmark-icon"></div>
{% endblock %}

{% block actionButton %}
    <input type="hidden" name="action" value="sprout/forms/save-form">
    {{ redirectInput('sprout/forms') }}
    <input type="hidden" id="formId" name="formId" value="{{ form.id is defined ? form.id : '' }}">

    <div class="buttons">

        <div class="btngroup submit">
            <a id="addFormPageBtn" class="btn add icon" href="#" title="New Page">{{ "New page"|t('sprout') }}</a>
            <div id="formPageManagerBtn" class="btn icon" title="{{ 'Edit Pages'|t('sprout') }}" data-icon="menu"></div>
        </div>

        <div class="btngroup submit">
            <div class="btn settings icon menubtn" title="{{ 'Edit Settings'|t('sprout') }}">{{ "Settings"|t('sprout') }}</div>
            <div class="menu sproutforms-settings-dropdown">
                <ul>
                    <li><a class="formsubmit" data-redirect="{{ cpUrl('sprout/forms/edit/'~form.id~'/settings/general')|hash }}">{{ "General"|t('sprout') }}</a></li>
                    <li><a a class="formsubmit" data-redirect="{{ cpUrl('sprout/forms/edit/'~form.id~'/settings/templates')|hash }}">{{ "Templates"|t('sprout') }}</a></li>
                    <li><a a class="formsubmit" data-redirect="{{ cpUrl('sprout/forms/edit/'~form.id~'/settings/rules')|hash }}">{{ "Rules"|t('sprout') }}</a></li>
                    <li><a a class="formsubmit" data-redirect="{{ cpUrl('sprout/forms/edit/'~form.id~'/settings/integrations')|hash }}">{{ "Integrations"|t('sprout') }}</a></li>
                </ul>
            </div>
        </div>

        <div id="save-form-button" class="btngroup submit">
            <input type="submit" class="btn submit" value="{{ 'Save'|t('sprout') }}">
            {% if form.id != null %}
                <div class="btn submit menubtn"></div>
                <div class="menu">
                    <ul>
                        <li><a class="formsubmit"
                                data-redirect="{{ ('sprout/forms/edit/'~form.id)|hash }}">{{ 'Save and continue editing'|t('sprout') }}
                                <span class="shortcut">⌘S</span></a></li>
                        <li><a class="formsubmit"
                                data-action="sprout/forms/duplicate-form"
                                data-redirect="{{ 'sprout/forms/edit/{id}'|hash }}"
                                data-param='saveAsNew'
                                data-value="true">{{ "Save as a new form"|t('sprout') }}</a>
                        </li>
                    </ul>
                    <hr>
                    <ul>
                        <li><a class="formsubmit error"
                                data-action="sprout/forms/delete-form"
                                data-confirm="{{ 'Are you sure you want to delete this form?'|t('sprout') }}"
                                data-redirect="{{ 'sprout/forms'|hash }}">{{ "Delete"|t('sprout') }}</a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>

        {% if config.getEnableUpgradeMessages() and config.isUpgradable() %}
            {{ sproutCp.upgradeToProButton({
                url: config.getUpgradeUrl(),
                title: config.getUpgradeMessage()
            }) }}
        {% endif %}

    </div>
{% endblock %}

{% block tabs %}
    {# Override tabs using formTabs to ensure the first tab always displays #}
    {% include "sprout/forms/_includes/tabs" with {
        formTabs: formTabs
    } %}
{% endblock %}

{% block content %}
    {% include "sprout/forms/forms/_editFormContent" %}
{% endblock %}

{% block details %}
    {% include "sprout/forms/forms/_sidebar/settings" %}

    {% hook 'cp.sproutForms.forms.edit.details' %}
{% endblock %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assetbundles\\forms\\FormsAsset") %}
{% do view.registerAssetBundle("craft\\web\\assets\\fields\\FieldsAsset") %}

{% do view.registerJs("new SproutFormsFieldLayoutEditor("~form.id~");") %}