{% requirePermission "sprout:forms:editForms" %}

{% extends "sprout/forms/_layouts/elementindex" %}
{% import "sprout/config/_includes/sproutcp" as sproutCp %}

{% set title = "Forms"|t('sprout') %}
{% set elementType = 'barrelstrength\\sproutbase\\app\\forms\\elements\\Form' %}
{% set canCreateForm = craft.app.getModule('sprout').app.forms.canCreateForm() %}

{% set groupId = null %}
{% set groups = sprout.app.formGroups.getAllFormGroups('id') %}

{% block actionButton %}
    <div class="buttons">
        <a id="create-new-form" class="btn submit add icon {% if not canCreateForm %}sprout-disabled{% endif %}"
            href="{{ cpUrl('sprout/forms/new') }}">{{ "New Form"|t('sprout') }}</a>

        {% if not isPro %}
            {{ sproutCp.upgradeToProButton({
                url: cpUrl('sprout/upgrade/forms'),
                title: "Upgrade to Sprout Forms PRO to manage Unlimited Forms"|t('sprout')
            }) }}
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}

    {% set customizableSources = false %}

    {{ parent() }}

    <div class="buttons">
        <div id="newgroupbtn"
            class="btn add icon">{{ "New Group"|t('sprout') }}</div>

        {% if groupId is defined %}
            <div id="groupsettingsbtn" class="btn settings icon menubtn"
                title="{{ 'Settings' }}"></div>
            <div class="menu">
                <ul>
                    <li><a data-action="rename"
                            role="button">{{ "Rename selected group"|t('sprout') }}</a>
                    </li>
                    <li><a data-action="delete"
                            role="button">{{ "Delete selected group"|t('sprout') }}</a>
                    </li>
                </ul>
            </div>
        {% endif %}
    </div>

{% endblock %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assetbundles\\sproutcp\\SproutCpAsset") %}
{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assetbundles\\groups\\GroupsAsset") %}

{% js %}
    {% if not canCreateForm %}
        $('#create-new-form').click(function(e){
        e.preventDefault();
        })
    {% endif %}

    new Craft.SproutBase.GroupsAdmin({
    groupsSelector: '#sidebar nav ul',
    newGroupButtonSelector: '#newgroupbtn',
    groupSettingsSelector: '#groupsettingsbtn',

    newGroupAction: 'sprout/form-groups/save-group',
    newGroupOnSuccessUrlBase: 'sprout/forms',
    newGroupOnErrorMessage: Craft.t('sprout', 'Could not create the group:'),

    renameGroupAction: 'sprout/form-groups/save-group',
    renameGroupOnSuccessMessage: Craft.t('sprout', 'Group renamed.'),
    renameGroupOnErrorMessage: Craft.t('sprout', 'Could not rename the group:'),

    promptForGroupNameMessage: Craft.t('sprout', 'What do you want to name your group?'),

    deleteGroupAction: 'sprout/form-groups/delete-group',
    deleteGroupOnSuccessUrl: 'sprout/forms',
    deleteGroupConfirmMessage: Craft.t('sprout', 'Are you sure you want to delete this group and all its forms?'),
    deleteGroupOnErrorMessage: Craft.t('sprout', 'Could not delete the group.'),
    });
{% endjs %}

{% css %}
    .element.small.hasstatus
    {
    word-break: break-all;
    hyphens: auto;
    }
{% endcss %}
