<!DOCTYPE html>
<html lang="{{ currentSite.language }}">
<head>
    <title>{{ email.subjectLine }} - {{ siteName }}</title>
</head>
<body>

<h1>{{ email.subjectLine }}</h1>

<p>{{ email.defaultBody }}</p>

</body>
</html>