{% macro mediaBox(settings) %}

    {% set resourcePath = settings.resourcePath ?? null %}
    {% set resourceAltText = settings.resourceAltText ?? null %}
    {% set heading = settings.heading ?? null %}
    {% set body = settings.body ?? null %}
    {% set alignItems = settings.alignItems ?? null %}

    <div class="sprout-mediabox-outer">
        <div class="sprout-mediabox-inner"
             {% if alignItems %}style="align-items: {{ alignItems }};"{% endif %}>
            {% if resourcePath %}
                <div class="sprout-mediathumb">
                    {{ svg(resourcePath) }}
                </div>
            {% endif %}
            <div class="sprout-mediabody">
                <h2>{{ heading }}</h2>
                <hr>

                {{ body|raw }}

            </div>
        </div>
    </div>

{% endmacro %}

{% macro upgradeToProButton(settings) %}
    <div class="btngroup submit first">
        <a href="{{ settings.url }}" class="btn sprout-upgrade-to-pro" target="_blank">
            {{ "Upgrade to Pro"|t('sprout-redirects') }} <span>{{ svg('@sproutbase/web/assets/cp/dist/images/sprout-icon-mask.svg') }}</span>
        </a>
    </div>
{% endmacro %}

