{% import "_includes/forms" as forms %}
{% import "sprout-base-fields/_includes/forms" as sproutFields %}

{% block content %}

    {{ forms.textField({
        label: "Plugin Name"|t('sprout-email'),
        instructions: "Intuitive, human-readable plugin name for the end user."|t('sprout-email'),
        id: 'pluginNameOverride',
        name: 'pluginNameOverride',
        value: settings.pluginNameOverride,
        autofocus: true,
        first: true,
        errors: ''
    }) }}

    {% set advancedInput %}
        <table class="data" style="width: auto;">
            <thead>
            <tr>
                <th scope="col">{{ "Feature"|t('sprout-email') }}</th>
                <th scope="col">{{ "Enabled?"|t('sprout-email') }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <label for="enableCampaignEmails">{{ "Enable
                    Campaigns?"|t('sprout-email') }}</label>
                </td>
                <td class="centeralign">
                    <div>
                        {{ forms.lightswitch({
                            name: 'enableCampaignEmails',
                            on: settings.enableCampaignEmails
                        }) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="enableNotificationEmails">{{ "Enable Notifications?"|t('sprout-email') }}</label>
                </td>
                <td class="centeralign">
                    <div>
                        {{ forms.lightswitch({
                            name: 'enableNotificationEmails',
                            on: settings.enableNotificationEmails
                        }) }}
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="enableSentEmails">{{ "Enable Sent Email
                    tracking?"|t('sprout-email') }}</label>
                </td>
                <td class="centeralign">
                    <div>
                        {{ forms.lightswitch({
                            name: 'enableSentEmails',
                            on: settings.enableSentEmails
                        }) }}
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    {% endset %}

    {#{{ forms.field({#}
        {#label: "Choose which features to enable"|t('sprout-email'),#}
        {#instructions: "Disabled items will be removed from the sidebar navigation and no longer accessible in the Control Panel."|t('sprout-email')#}
    {#}, advancedInput) }}#}

{% endblock %}