{% import "_includes/forms" as forms %}
{% set name = (namespaceInputName is not defined) ? 'address' : namespaceInputName %}
{% set addressBox = (namespaceInputId is not defined) ? 'sproutaddressinfo-box' : 'sproutaddressinfo-box-' ~ namespaceInputId %}

{% set addressInput %}
    <div class="{{ addressBox }}"
        {% if addressId is defined and addressId %}
            data-addressinfoid='{{ addressId }}'
        {% endif %}

        {% if defaultCountryCode is defined and defaultCountryCode %}
            data-defaultcountrycode='{{ defaultCountryCode }}'
        {% endif %}

        {% if showCountryDropdown is defined and showCountryDropdown %}
            data-showcountrydropdown='{{ showCountryDropdown }}'
        {% endif %}
    >
        <div class='address-add-button hidden'>
            <a class='btn add icon dashed sproutaddressfield-edit'
               href='#'>{{ "Add Address"|t('sprout-base') }}</a>
        </div>
        <div class='address-edit-buttons hidden'>
            <a class='small btn right icon sproutaddressfield-edit clear-button'
               href='#'>{{ "Clear"|t('sprout-base') }}</a>
            <a class='small btn right icon sproutaddressfield-edit update-button'
               href='#'>{{ "Edit"|t('sprout-base') }}</a>
        </div>
        <div class='address-format hidden'>
            {{ addressDisplayHtml }}
        </div>
        <div class='sproutaddressfield-form-fields hidden'>
            <input type="hidden" name="{{ field.handle }}[delete]"/>
            {{ countryInputHtml }}
            {{ addressFormHtml }}
            <input type="hidden" name="{{ field.handle }}[fieldId]" value="{{ fieldId }}" />
        </div>
    </div>

{% endset %}

{{ forms.field({
}, addressInput) }}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\app\\fields\\web\\assets\\address\\AddressFieldAsset") %}

{% css %}
    /**
    * Address Field
    */
    .{{ addressBox }} {
    display: inline-flex;
    justify-content: flex-start;
    }
    .{{ addressBox }} .address-add-button {
    order: 1;
    }
    .{{ addressBox }} .address-edit-buttons {
    order: 3;
    }
    .{{ addressBox }} .address-format {
    order: 2;
    padding-right: 20px;
    }
{% endcss %}

{% js %}
    $( document ).ready(function() {
    new Craft.SproutBase.AddressBox($('.{{ addressBox }}'), { namespace: '{{ name }}' })
    });
{% endjs %}