{% extends "sprout/config/_layouts/base-settings" %}

{% block actionButton %}

    {% set actionButtonTemplate = currentSubsection.actionButtonTemplate ?? null %}

    {% if actionButtonTemplate %}
        {% include actionButtonTemplate %}
    {% else %}

        <div class="btngroup submit">
            <input type="submit" class="btn submit" value="{{ 'Save settings'|t('sprout') }}">
            {% if craft.app.getIsMultiSite() and showMultiSiteSettings %}
                <div class="btn submit menubtn"></div>
                <div class="menu">
                    <ul>
                        <li>
                            <a class="formsubmit"
                                data-redirect="{{ ('...')|hash }}">{{ 'Save and copy settings to all sites'|t('sprout') }}
                            </a>
                        </li>
                    </ul>
                </div>
            {% endif %}
        </div>


        {#        {% if upgradeLink %}#}
        {#            {{ sproutCp.upgradeToProButton({#}
        {#                url: upgradeLink#}
        {#            }) }}#}
        {#        {% endif %}#}

    {% endif %}

{% endblock %}

{% block content %}

    <input type="hidden" name="action" value="{{ actionUrl }}">
    <input type="hidden" name="redirect" value="{{ redirectUrl|hash }}">
    <input type="hidden" name="settingsSection" value="{{ settingsSectionHandle }}">

    <div id="settings-cp">

        {% namespace 'settings' %}
            {% include currentSubsection.template %}
        {% endnamespace %}

    </div>

{% endblock %}