{% extends "sprout/seo/_layouts/base" %}
{% import "sprout/config/_includes/sproutcp" as sproutCp %}

{% do view.registerAssetBundle("barrelstrength\\sproutbase\\web\\assetbundles\\sproutcp\\SproutCpAsset") %}

{% if title is not defined %}
    {% set title = "Global Metadata"|t('sprout') %}
{% endif %}

{% set fullPageForm = true %}

{% block contextMenu %}
    {% if craft.app.getIsMultiSite() %}
        {% include "_elements/sitemenu" with {
            selectedSiteId: globals.siteId,
            urlFormat: "sprout/seo/globals/"~selectedTabHandle~"/{handle}"
        } %}
    {% endif %}
{% endblock %}

{% set navItems = {
    'identity-heading': { heading: "Knowledge Graph"|t('sprout') },
    'website-identity': { title: "Website Identity"|t('sprout') },
    'contacts': { title: "Contacts"|t('sprout') },
    'social': { title: "Social Profiles"|t('sprout') },

    'ownership-heading': { heading: "Ownership"|t('sprout') },
    'verify-ownership': { title: "Verify Ownership"|t('sprout') },

    'preferences': { heading: "Preferences"|t('sprout') },
    'customization': { title: "Customization"|t('sprout') },
    'robots': { title: "Robots"|t('sprout') },
} %}

{% set docTitle = navItems[selectedTabHandle].title~' - '~title %}

{% block actionButton %}
    {% if not isPro %}
        <div class="buttons">
            {{ sproutCp.upgradeToProButton({
                url: cpUrl('sprout/upgrade/seo'),
                title: "Upgrade to Sprout SEO to manage Unlimited Custom Metadata Mappings, Redirects, and XML Sitemaps."|t('sprout')
            }) }}
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    <nav>
        <ul>
            {% for tabHandle, item in navItems %}
                {% if item.heading is defined %}
                    <li class="heading"><span>{{ item.heading }}</span></li>
                {% else %}
                    {% set selected = tabHandle == selectedTabHandle ? 'sel' : null %}
                    {% set tabUrl = url('sprout/seo/globals/'~tabHandle~(currentSite.handle is not null ? '/' ~ currentSite.handle)) %}
                    <li>
                        <a href="{{ tabUrl }}" class="{{ selected }}">{{ item.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endblock %}